html {
   font-family: 'Roboto', sans-serif;
  background: url( "../img/pg1bckg.webp") no-repeat center fixed;
  background-size:cover;
} 



div{
 
  color: black;
  padding: 10px 0;
  border-radius:0 0 20px  20px;
}



.pg1:hover{
  color:rgba(36, 43, 173, 0.7);
}

ul{
  line-height: 30px;
}  

h1{
  font-size:70px
}

img{
  opacity:0.8;
}

.titlelink {
  color:black;
}

.titlelink:hover{
  color: rgba(210, 45, 45, 0.7);
}

body{
  text-align:center;
  padding: 10px 100px;
  margin: 10px 100px;
  border: 50px;
  background-color:rgba(225, 225, 225, 0.8);
  border-radius:25px;
}

a{
  color:white;

}

a:hover{
  color: red;
  cursor:grab
}


