html {
   font-family: 'Roboto', sans-serif;
  background: url( "/img/pg1bckg.webp") no-repeat center fixed;
  background-size:cover;
} 

ul{
  line-height: 30px;
}  

img{
  opacity:0.8;
}
  

body{
  text-align:center;
  padding: 10px 200px;
  margin: 10px 100px;
  border: 25px;
  background-color:rgba(225, 225, 225, 0.7);
  border-radius:25px;
}

a{
  color:white;

}

a:hover{
  color: red;
  cursor:grab
}
