
html {
    font-family: 'Roboto', sans-serif;
    background: url( "/img/pg3.jfif") no-repeat center fixed;
  background-size:cover;
 } 
 
 h1 {
  font-size:80px;
 }
 
.titlediv{
  background-color:rgba(225, 225, 225, 0.8);
  border-radius:  25px 20px 0 0;
  margin: 10px auto;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
 
 li{
   line-height: 30px;
 } 
  
 body {
 text-align: center;
 padding: 10px 100px;
 margin: 10px 100px;
 border: 50px;
 background-color:rgba(225, 225, 225, 0.3);
  border-radius:25px;
 }
 
 p{
  text-align:left;
 }

 a{
  text-align:center;
  color:white;
  
}

input {
  width:60px;
}

a:hover{
  color: black;
  cursor:grab
}

Button:hover{
  background-color:brown;
  color: white;
}

button{
  border-radius: 20px;
  padding:5px 20px;
  font-variant:small-caps;
}

div{
  text-align:left;
  background-color:rgba(225, 225, 225, 0.8);
  border-radius: 0 0 25px 20px;
  margin: 10px auto;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.quizlink{
  color:Black;
  font-size:20px
}

input {
  width: 60px;
  border-radius:10px
}

.quizlink:hover{
  color:blue;
}
