/* CSS Style Sheet */
html {
   background: url(../img/intro2..jpg) no-repeat center fixed;
   background-size:cover;
   font-family:'Roboto', sans-serif;
   text-align: center;

}

body{

    width:500px;
    margin:35px auto;
    text-align:center;
    padding:5px 5px;
    border-radius:35px;
}

h1{
    color:aliceblue;
    font-size:100px;
    
  
}
  
h2{
    color:aliceblue;
    font-size:75px;
   margin:30px;
    padding:10px 200px;
}

a {
    color:white;
    
}
a:hover{
    color: red;
    cursor:grab
}